.btn-table-list {
   margin-left: 10px;
   margin-bottom: 5px;
}

.form-title {
   border: 1px solid #f4f4f4;
   padding: 15px 10px 0 0;
   font-weight: bold;
}

.form-value {
   border: 1px solid #f4f4f4;
   padding: 15px 0 0 10px;
}
